@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300");

* {
  font-size: 0;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
}
.footer-padding {
  padding-bottom: 20px;
}
.main-menu {
  text-align: center;
  padding: 74px 0 100px 0;
}
.main-menu-list {
  display: inline-block;
  list-style: none;
}
.main-menu-list-item {
  display: inline-block;
}
.main-menu-list-item a {
  display: block;
  width: 142px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
}
.main-menu-list-item a:focus,
.main-menu-list-item a:hover {
  color: #03a9f4;
}
.box {
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  margin-right: 60px;
  padding-bottom: 40px;
  width: 420px;
  min-height: 610px;
}
.box:nth-child(2n) {
  margin-right: 0px;
}
.box-image {
  padding-bottom: 20px;
}
.box-subtittle {
  padding-bottom: 24px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
}
.box-tittle {
  padding-bottom: 40px;
  color: rgb(98, 98, 98);
  font-size: 30px;
  font-family: "Playfair Display", serif;
}
.box-text {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
}
.footer-button {
  display: block;
  margin: 0 auto;
  padding: 18px 20px;
  font-size: 20px;
  color: rgb(98, 98, 98);
  background-color: #fff;
  max-width: 200px;
  border: 1px solid #989898;
  font-size: 20px;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  cursor: pointer;
}
.footer-button:hover,
.footer-button:focus {
  color: #03a9f4;
  border-color: #03a9f4;
}